@*<div class="list-group">
    <div class="h-100 list-group-item shadow pl-3 mb-3 bg-white rounded">
        <div class="row pl-3 my-3">
            <div class="col-8">
                <strong style="color:#0078cd;">Classes ➡️</strong>
            </div>
        </div>
        <select asp-for="Model.CurrentFilter" class="form-control" asp-items="ViewBag.CourseID"></select>
    </div>
</div>*@