@page
@model ChineseLMS.Pages.SchoolAssignments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-4">
        <div>
            <partial name="~/Pages/Dashboard/_OptionsList_SchoolAssignment.cshtml" />
        </div>
        <div>
            <partial name="~/Pages/Dashboard/_ClassList.cshtml" />
        </div>
    </div>
    <div class="col-8">
        <div class="list-group vh-100">
            <div class="h-100 list-group-item shadow pl-3 mb-3 bg-white rounded">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row pl-3 mb-1 px-4">
                        <div class="col-8">
                            <a class="text-decoration-none" asp-page="./Index" style="color:#0078cd;"><strong>⬅️ See All Assignments</strong></a>
                        </div>
                    </div>
                    <div class="list-group h-75 p-4">
                        @*Header*@
                        <div class="list-group-item shadow pl-3 mb-3 bg-white rounded">
                            <div class="row">
                                <div class="col-8 font-weight-bold">
                                    <h3>
                                        <strong>
                                            <div class="form-group">
                                                <label asp-for="schoolassignment.CourseID" class="control-label"></label>
                                                <select asp-for="schoolassignment.CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                                                <span asp-validation-for="schoolassignment.CourseID" class="text-danger"></span>
                                                <label asp-for="schoolassignment.Title" class="control-label"></label>
                                                <input asp-for="schoolassignment.Title" class="form-control" />
                                                <span asp-validation-for="schoolassignment.Title" class="text-danger"></span>
                                            </div>
                                        </strong>
                                    </h3>
                                </div>
                                <div class="col-4 text-end">
                                    <h3 style="color:#07ae35;">
                                        <strong>
                                            <label asp-for="schoolassignment.TaskDueStartTime" class="control-label"></label>
                                            <input asp-for="schoolassignment.TaskDueStartTime" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                                            <span asp-validation-for="schoolassignment.TaskDueStartTime" class="text-danger"></span>
                                        </strong>
                                        <strong>
                                            <label asp-for="schoolassignment.TaskDueEndTime" class="control-label"></label>
                                            <input asp-for="schoolassignment.TaskDueEndTime" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                                            <span asp-validation-for="schoolassignment.TaskDueEndTime" class="text-danger"></span>
                                        </strong>
                                    </h3>
                                </div>
                            </div>
                        </div>

                        @*Details*@
                        <div class="list-group-item shadow pl-3 mb-3 bg-white rounded h-50">
                            <div class="row">
                                <div class="col-12 font-weight-bold">
                                    <h5><strong>Task Details</strong></h5>
                                    <br />
                                    <textarea asp-for="schoolassignment.SchoolAssignmentDetails" class="form-control"></textarea>
                                    <span asp-validation-for="schoolassignment.SchoolAssignmentDetails" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        @*Tasks*@
                        <div class="list-group-item shadow pl-3 mb-3 bg-white rounded h-25">
                            <div class="row">
                                <div class="col-8 font-weight-bold">
                                    <h5><strong>Tasks</strong></h5>
                                    <br />

                                </div>
                            </div>
                        </div>
                        @*Dropbox*@
                        <div class="list-group-item shadow pl-3 mb-3 bg-white rounded h-25">
                            <div class="row">
                                <div class="col-8 font-weight-bold">
                                    <h5><strong>Dropbox</strong></h5>
                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="form-group text-end">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @*Add HTML Scripts*@
    @*For TinyMCE*@
    <script src="https://cdn.tiny.cloud/1/efpq6i5ajrlj903xs6dxfgipoqrso7jzu8p59ctoo4w2g7mu/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({
            selector: "textarea"
});
    </script>

    <script>$(document).ready(function () {

        })</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}