@page
@model ChineseLMS.Pages.Calendar.IndexModel

@{
    ViewData["Title"] = "Calendar";
}

<head>
    <style>
        a {
            color: black;
            text-decoration: none;
        }

        #calendar {
            width: 90%;
            height: 50%;
            margin: 5% auto;
        }
    </style>

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js" integrity="sha256-sR+oJaZ3c0FHR6+kKaX1zeXReUGbzuNI8QTKpGHE0sg=" crossorigin="anonymous"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'zh-tw',
                themeSystem: 'bootstrap5',
                timeZone: 'UTC',
                themeSystem: 'bootstrap5',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                weekNumbers: true,
                dayMaxEvents: true, // allow "more" link when too many events

                events: [
                    @foreach (var assignment in Model.SchoolAssignments) {
                            String.Format("{0},\n", assignment.JSONString);
                    }
                    {
                        "title": 'Click for Google',
                        "description": 'description for Click for Google',
                        "url": 'http://google.com/',
                        "start": '2022-12-28'
                    }
                ]
            });
            calendar.render();
        });
    </script>
</head>

@foreach (var assignment in Model.SchoolAssignments)
    {
        string s = String.Format("{" +
            "{0}" +
            "},", assignment.JSONString);
        Console.WriteLine(s);
    }


<div id='calendar'></div>
@*@await Html.PartialAsync("_PartialCalendar.cshtml")*@
